.cache
.git
.gnupg
.icons
.config/gh/
.config/bashtop/user_themes/
.vifm/Trash/000_archlinux/
.local
.mozilla
.themes
.viminfo
.wallpaper/

Desktop/
Documents
Downloads
Pictures/

.bash_history
repo

.bash_history
.ICEauthority
.lesshst

.config/*


