# Hashtag blue lines is to be synced with github
# wihte entries are to be ignored

.cache/
#,config/
.config/gh/
.config/GIMP/
.git/
.gnupg/
#.icons/
#.local/
.mozilla/
#.themes
#.vifm/
.vifm/Trash*
#.vim/
Desktop/
Documents/
Downloads/
Pictures/
#Wallpapers
#demo-c
#repo
.ICEauthority
.Xauthority
#.bash_aliases
.bash_history
#,bash_logout
#.bash_profile
#.bashrc
#.gdbinit
#.git_aliases
#.gitconfig
#.gitignore
.lesshst
#.lynxrc
#.profile
#.tmux.conf
.viminfo
#.vimrc
#.xinitrc
#LICENSE
#README.md
#caps-to-esc.sh
#infoGit.txt
#install-gui.md
#install-sound.md
#install.archlinux.LLT.md
#install.archlinux.md
#test.gvim.txt
#vim-colors.txt

*Xorg.0.log*
.local/share/Trash/*
*konsole*

#.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
#.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
#.local/share/recently-used.xbel
#.config/bashtop/error.log


