#.config
.config/gh
.config/Thunar
.mozilla

.viminfo
.gdb_history
.bash_history
.lesshst
.cache
.Xauthority
xorg
.ICEauthority

#.locale
Thrash
.vifm/Trash
recently-used.xbel

repos
.config/xfce4/appfinder
xfce4-appfinder.xml
*xfce4-appfinder.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
Downloads
Desktop
.icons/
.themes/
.wallpaper/

