[Desktop Entry]
Version=1.0
Type=Application
Exec=st -g 100x72 bash -l
Icon=terminal
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=st
Comment=terminal
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal-emulator.desktop
Path=/home/m
