[Desktop Entry]
Type=Application
Version=1.0
Name=bashtop
GenericName=Process Viewer
Comment=Show System Processes
Icon=htop
Exec=bashtop
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
X-XFCE-Source=file:///usr/share/applications/htop.desktop
Path=
StartupNotify=false
